<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "IdeaComposer", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ドローイング", '#' %></li>
            <li><%= link_to "自分の資料", '#' %></li>
            <li><%= link_to "ログイン", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
